*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contact page  */
 /* .PhoneInputInput:focus-visible{
    outline: none;
}  */


body{
    /* background-color: #eaeaea; */
    /* background-color: #f5f5f5; */
    background-color: #0D63B9;
    /* overflow: hidden; */
}

.heading_title{
    color: #00539b;
}
.container{
    background-color: #f5f5f5;
    padding: 1rem 1rem 4rem 1rem;
    margin: 0 auto;
}
